/*
Autores: Agustina Velazquez
Fecha: 03/04/2024
Descripcion: este archivo CSS contiene los estilos para el index.htmll
*/

@font-face {
    font-family: 'Aurora';
    src: url(../fonts/OptimusPrinceps.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aurora';
    src: url(../fonts/OptimusPrincepsSemiBold.ttf);
    font-weight: bold;
    font-style: bold;
}

:root {
    --primary-color: #ffd8a1;
    --secondary-color: #c8aa80;
    --third-color: #7c644c;
    --bg-light: #fbf4e5;
    --bg-dark: #13110d;
    /* Fonts */
    --primary-font: 'Aurora', serif;
    --secondary-font: 'Comfortaa', sans-serif;
    --third-font: "Outfit", sans-serif;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 13px;
}
  
/* Carril del scroll */
::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}
   
/* Almohadilla del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}
  
/* Almohadilla on hover */
::-webkit-scrollbar-thumb:hover {
    background:var(--third-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--secondary-font);
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    top: 20vw;
    left: 0;
}

footer {
    position: relative;
    top: 84vw;
}

/********************************** NAVBAR *************************/
nav {
    width: 100vw;
    height: 5em;
    padding: 0.9em 1.2em;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--primary-color);
    box-shadow: 0 .25em .6em rgba(0, 0, 0, 0.461);
}

nav .nav-links {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    height: 100%;
    width: 15em;
    padding-top: 6em;
    row-gap: 2em;
    flex-direction: column;
    background-color: #ffd8a1ea;
    transition: all 0.4s ease;
}

nav ul ~ div {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav .logo img {
    height: 1.8em;
    margin-left: 2em;
}

nav .nav-links a {
    color: var(--bg-dark);
    font-size: 1.1em;
    font-weight: 800;
    transition: all 0.3s linear;
}

nav .nav-links li:last-child {
    width: 80%;
    padding-top: 1.2em;
    border-top: 1px solid var(--bg-dark);
    text-align: center;
}

nav .search-icon {
    color: var(--third-color);
    font-size: 1.25em;
    cursor: pointer;
}

nav .search-box {
    position: absolute;
    height: 2.8em;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

nav.openNav .nav-links {
    left: 0;
}

nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}


nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    height: 100%;
    width: 100%;
    border: 2px solid var(--third-color);
    outline: none;
    border-radius: .5em;
    background-color: var(--bg-light);
    padding: 0 .9em 0 2.8em;
}

nav .navOpenBtn,
nav .navCloseBtn {
    display: block;
}

nav.openNav .nav-links {
    left: 0;
}

nav .navOpenBtn {
    color: var(--third-color);
    font-size: 20px;
    cursor: pointer;
}

nav .navCloseBtn {
    position: absolute;
    top: 1.13em;
    left: .8em;
    color: var(--bg-dark);
    font-size: 1.5em;
    cursor: pointer;
}

.nav .search-box {
    top: calc(100% + .6em);
    max-width: calc(100% - 1.2em);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.search-box input::placeholder {
    font-family: var(--third-font);
    font-size: 1.2em;
    color: var(--third-color);
}

/********************************** FORM COMPRA *************************/
.titulo-form-compra {
    text-align: center;
}

form {
    width: 100vw;
    border: 2px solid green;
}

.marcador-step {
    padding: 1em;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.marcador-step li {
    padding: .2em .7em;

    background-color: var(--third-color);
    color: var(--bg-light);
    line-height: 1.5em;
    border-radius: 50%;
}

.marcador-step li.active {
    background-color: var(--primary-color);
    color: var(--bg-dark);
    border: 1px solid var(--bg-dark);
    outline: none;
}

.step {
    margin: 2em auto;

    display: none;
}
.active {
    display: block;
}

/* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */




.hidden {
    display: none;
}

/************************** FOOTER ********************************/
.container {
    margin: 0 auto;
    padding: 1.5rem;
    width: 100vw;
    background-color: var(--third-color);
    text-align: center;
    color: var(--bg-light);
}

.container img {
    width: 20em;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    margin-top: 1.5em;
    color: var(--bg-light);
    font-weight: 700;
}

.footer-links a {
    color: var(--bg-light);
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
    main {
        top: 10vw;
    }

    footer {
        top: 175vw;
    }

    /************************** FOOTER ********************************/

    .container img {
        width: 20em;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1.5em;
        padding-top: 2em;
        border-top: 2px solid var(--bg-light);
    }

    .footer-links a {
        font-size: 1.1em;
    }
}

@media only screen and (min-width:1280px) and (max-width: 1730px) {
    main {
        top: 6vw;
    }

    footer {
        top: 85vw;
    }

    /************************** FOOTER ********************************/

    .container img {
        width: 20em;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1.5em;
        padding-top: 2em;
        border-top: 2px solid var(--bg-light);
    }

    .footer-links a {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1920px) {

    html {
        overflow-x: hidden;
    }

    main {
        top: 4vw;
    }

    footer {
        top: 55vw;
    }

    /********************************** NAVBAR *************************/
    nav .logo img {
        height: 2em;
    }

    /************************** FOOTER ********************************/
    .container {
        /* top | right | bottom | left */
        padding: 5em 0 2em 0;
    }

    .container img {
        width: 30em;
    }

    .footer-links {
        flex-direction: row;
        justify-content: center;
        gap: 10em;
        margin-top: 1.5em;
        padding-top: 2em;
        border-top: 2px solid var(--bg-light);
    }

    .footer-links a {
        font-size: 1.2em;
        transition: all 0.5s ease;
    }

    .footer-links a:hover {
        cursor: pointer;
        color: var(--secondary-color);
        transform: scale(1.1);
    }
}