/*
Autores: Agustina Velazquez
Fecha: 03/04/2024
Descripcion: este archivo CSS contiene los estilos para el index.htmll
*/

@font-face {
    font-family: 'Aurora';
    src: url(../fonts/OptimusPrinceps.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aurora';
    src: url(../fonts/OptimusPrincepsSemiBold.ttf);
    font-weight: bold;
    font-style: bold;
}

:root {
    --primary-color: #ffd8a1;
    --secondary-color: #c8aa80;
    --third-color: #7c644c;
    --bg-light: #fbf4e5;
    --bg-dark: #13110d;
    /* Fonts */
    --primary-font: 'Aurora', serif;
    --secondary-font: 'Comfortaa', sans-serif;
    --third-font: "Outfit", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 13px;
}

/* Carril del scroll */
::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

/* Almohadilla del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

/* Almohadilla on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--third-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--secondary-font);
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}
/********************************** NAVBAR *************************/
nav {
    width: 100vw;
    height: 9vh;
    padding: 0.9em 1.2em;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--primary-color);
    box-shadow: 0 .25em .6em rgba(0, 0, 0, 0.461);
}

nav .nav-links {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    height: 100%;
    width: 15em;
    padding-top: 6em;
    row-gap: 2em;
    flex-direction: column;
    background-color: #ffd8a1ea;
    transition: all 0.4s ease;
}

nav ul~div {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav .logo img {
    height: 1.8em;
    margin-left: 2em;
}

nav .nav-links a {
    color: var(--bg-dark);
    font-size: 1.1em;
    font-weight: 800;
    transition: all 0.3s linear;
}

nav .nav-links li:last-child {
    width: 80%;
    padding-top: 1.2em;
    border-top: 1px solid var(--bg-dark);
    text-align: center;
}

nav .search-icon {
    color: var(--third-color);
    font-size: 1.25em;
    cursor: pointer;
}

nav .search-box {
    position: absolute;
    height: 2.8em;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

nav.openNav .nav-links {
    left: 0;
}

nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}


nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    height: 100%;
    width: 100%;
    border: 2px solid var(--third-color);
    outline: none;
    border-radius: .5em;
    background-color: var(--bg-light);
    padding: 0 .9em 0 2.8em;
}

nav .navOpenBtn,
nav .navCloseBtn {
    display: block;
}

nav.openNav .nav-links {
    left: 0;
}

nav .navOpenBtn {
    color: var(--third-color);
    font-size: 20px;
    cursor: pointer;
}

nav .navCloseBtn {
    position: absolute;
    top: 1.13em;
    left: .8em;
    color: var(--bg-dark);
    font-size: 1.5em;
    cursor: pointer;
}

.nav .search-box {
    top: calc(100% + .6em);
    max-width: calc(100% - 1.2em);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.search-box input::placeholder {
    font-family: var(--third-font);
    font-size: 1.2em;
    color: var(--third-color);
}

/********************************** Listado de Carrito *************************/
#info-compra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-compra {
    display: flex;
    align-items: center;
    gap: .5em;
}

.info-compra p {
    order: 2;
    font-size: .8em;
}

.dropdown {
    position: relative;
    display: inline-block;

    order: 1;
}

.dropdown-btn {
    margin-left: .4em;
    padding: .2em .3em;

    background-color: var(--secondary-color);
    color: var(--bg-light);

    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-btn.active {
    transform: rotate(180deg);
}

.total-compra {
    margin-right: .4em;
    padding: .3em .5em;

    background-color: var(--secondary-color);
    color: var(--bg-dark);

    border-radius: .4em;
}

.dropdown-content {
    width: 100vw;
    padding: 1em 1.4em;

    position: absolute;
    top: 1.7em;
    left: 0;

    display: none;

    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.cart-product {
    position: relative;

    padding: .5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-cart-product {
    width: 75%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.img-producto {
    width: 5em;
}

.info-price-product {
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo-producto-carrito {
    font-size: .9em;
}

.precio-producto-carrito {
    font-weight: bolder;
    font-size: 1em;
}

.carrito-total {
    width: 100%;
    padding: .5em;
    margin-top: 1em;

    border-top: 1px solid var(--bg-dark);
}

.carrito-precio-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#total-amount {
    font-weight: bold;
    font-size: 1.3em;
}

/********************************** FORM COMPRA *************************/
#form-compra {
    margin: 5em 0;
    margin-bottom: 1em;
}

.titulo-form-compra {
    margin: 1em 0;
    text-align: center;
}

form {
    width: 100vw;
}

.compra-timeline {
    list-style-type: none;
    padding: .1em 2.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compra-timeline .compra-timeline-item {
    width: 1.5em;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    text-align: center;

    cursor: pointer;
}

.compra-timeline .compra-timeline-item.disabled {
    pointer-events: none;
    opacity: .6;
}

.compra-timeline .compra-timeline-item .compra-timeline-item-icon {
    width: 1.7em;
    height: 1.7em;
    border-radius: 100%;
    border: 1px solid var(--bg-dark);
    color: var(--bg-dark);
}

.compra-timeline .compra-timeline-item .compra-timeline-item-icon i {
    font-size: .9em;
    margin-top: .4em;
}

.compra-timeline .compra-timeline-item .compra-timeline-item-text {
    margin: 5px 0 0;
    font-family: var(--third-font);
    background-color: white;
}

.compra-timeline .compra-timeline-line {
    flex-grow: 1;
    height: 1px;
    background: var(--bg-dark);
    opacity: .6;
    position: relative;
    top: -10px;
}

.step {
    width: 90vw;
    margin: 1.5em auto;
    padding: 1em 1.5em;

    text-align: center;

    border-radius: .5em;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

.step-content {
    margin: .5em 0;
}

.input-datos-personales {
    width: 100%;
    height: 3em;

    padding: .8em;

    border: 1px solid #7e7e7e48;
    border-radius: .5em;

    margin: .5em 0;
}

.input {
    position: relative;
}

.link-cp {
    position: absolute;
    top: 2em;
    right: .8em;

    font-size: .7em;
    text-decoration: underline;

    cursor: pointer;
}

.btn-form {
    width: 100%;
    padding: .5em;
    margin-top: 1em;

    background-color: var(--primary-color);
    border: none;
    border-radius: .5em;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);

    color: var(--bg-dark);
    font-family: var(--third-font);
    font-size: 1em;
}

.btn-cp {
    border: none;

    background-color: white;
    color: var(--bg-dark);
    font-family: var(--third-font);
    text-decoration: underline;
    text-align: right;

    cursor: pointer;
}

#input-cp {
    height: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.select-entrega {
    width: 100%;
    padding: .8em .5em;
    margin-bottom: .5em;

    background-color: white;
    border: 1px solid #7e7e7e48;
    border-radius: .5em;
}

.datos-envio {
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
    padding: .2em 0;

    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    color: #797878;
}

.datos-envio span {
    color: var(--bg-dark);
    font-weight: bold;
}

.datos-postal {
    display: flex;
    gap: 1em;

    margin-top: 1.2em;

    font-size: .8em;
    font-weight: bold;
}

.datos-postal i {
    font-size: 2em;
    margin-top: -.5em;

    color: var(--third-color);
}

.facturacion {
    position: relative;
}

.datos-facturacion {
    margin-bottom: 1.5em;
}

.datos-facturacion #datos-facturacion {
    cursor: pointer;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 8em;
    left: 2em;
    border: 2px solid #888;
}

.datos-facturacion label[for="checkbox"] {
    position: absolute;
    top: 8.3em;
    left: 4em;
    font-size: .8em;
    text-align: justify;
}

.datos-abono {
    margin-top: 3em;
}

.datos-abono>h5 {
    text-align: left;
}

.provincias {
    display: flex;
    justify-content: space-around;

    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    color: #7e7e7e;
    border: 1px solid #7e7e7e48;
    border-radius: .5em;

    width: 100%;
    height: 3em;

    margin: .5em 0;
    padding: .8em;
}

.provincias select {
    border: none;
    margin-top: -.15em;
    margin-left: .3em;
}

.provincias select:focus {
    border: none;
}

.cod-descuento {
    width: 90vw;
    margin: 1.5em auto;
    padding: 1em 1.5em;

    text-align: center;
}

.cod-descuento i {
    color: var(--third-color);
}
.cod-descuento input[type="button"] {
    border: none;
    text-decoration: underline;
    font-size: 1em;
    color: var(--third-color);
    background-color: white;
}

.dto-label {
    width: 100%;
    height: 3em;

    padding: .8em;
    
    border: none;
    border-bottom: 1px solid var(--third-color);

    margin-top: .5em;
}
.dto-label:focus {
    outline: none;
}

.validar-btn {
    position: absolute;
    top: 1em;
    right: 0;
    padding: .5em;

    border: none;
    border-radius: .5em;

    cursor: pointer;
}

#dto-label input[type="button"] {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    background-color: var(--secondary-color);
    color: var(--bg-light);;
}

.correo{
    display: flex;
    gap: 1em;
    font-size: .9em;
    color: #797878;
}

.correo i {
    font-size: 1.2em;
    color: var(--third-color);
}
.step-user,
.step-envio  {    
    width: 90vw;
    margin: 1.5em auto;
    padding: 1em;
    padding-left: 1.5em;

    border-radius: .5em;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}

.user{
    display: flex;
    align-items: center;
    gap: 1em;

    position: relative;
}
.user i {
    color: var(--third-color);
}

.user-datos {
    display: flex;
}

.user-datos div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    
    text-align: start;
    font-size: .9em;
    color: #797878;
}

.link-datos {
    border: none;
    position: absolute;
    right: 0;

    background-color: white;
    font-size: .8em;
    font-family: var(--third-font);
    text-decoration: underline;
}
/************************** FOOTER ********************************/
.container {
    width: 100vw;

    margin: 0 auto;
    padding: 1.5rem;

    background-color: var(--third-color);
    text-align: center;
    color: var(--bg-light);
}

.container img {
    width: 20em;
}

.footer-links {
    margin-top: 1.5em;
    padding-top: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;

    color: var(--bg-light);
    font-weight: 700;
    font-size: .8em;
    border-top: 1px solid var(--bg-light);
}

.footer-links a {
    color: var(--bg-light);
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
    main {
        top: 10vw;
    }

    footer {
        top: 175vw;
    }

    /************************** FOOTER ********************************/

    .container img {
        width: 20em;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1.5em;
        padding-top: 2em;
        border-top: 2px solid var(--bg-light);
    }

    .footer-links a {
        font-size: 1.1em;
    }
}

@media only screen and (min-width:1280px) and (max-width: 1730px) {
    main {
        top: 6vw;
    }

    footer {
        top: 85vw;
    }

    /************************** FOOTER ********************************/

    .container img {
        width: 20em;
    }

    .footer-links {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1.5em;
        padding-top: 2em;
        border-top: 2px solid var(--bg-light);
    }

    .footer-links a {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1920px) {

    html {
        overflow-x: hidden;
    }

    main {
        top: 4vw;
    }

    footer {
        top: 55vw;
    }

    /********************************** NAVBAR *************************/
    nav .logo img {
        height: 2em;
    }

    /************************** FOOTER ********************************/
    .container {
        /* top | right | bottom | left */
        padding: 5em 0 2em 0;
    }

    .container img {
        width: 30em;
    }

    .footer-links {
        flex-direction: row;
        justify-content: center;
        gap: 10em;
        margin-top: 1.5em;
        padding-top: 2em;
        border-top: 2px solid var(--bg-light);
    }

    .footer-links a {
        font-size: 1.2em;
        transition: all 0.5s ease;
    }

    .footer-links a:hover {
        cursor: pointer;
        color: var(--secondary-color);
        transform: scale(1.1);
    }
}