<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tienda Online de Aurora Aromas, pagina de reventa de productos Saphirus">
    <meta name="keywords" content="tienda, aromas, saphirus, home-spray, difusor">
    <meta name="author" content="Agustina Mailen Velazquez">
    <title>Confirmar Compra | Aurora - Tienda de Aromas</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/comprar.css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body id="body">
    <!-- Navbar -->
    <header>
        <nav class="nav">
            <i class="fa-solid fa-bars navOpenBtn"></i>
            <a href="../index.html" class="logo">
                <img src="../static/img/aurora-logo-negro.png" alt="Aurora letra original">
            </a>
            <ul class="nav-links">
                <i class="fa-solid fa-xmark navCloseBtn"></i>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="./contact.html">Contactanos</a></li>
                <li><a href="./address.html">Dónde Encontrarnos</a></li>
                <li><a href="">Ingresar</a></li>
            </ul>
            <div>
                <!-- Lupita -->
                <i class="fa-solid fa-magnifying-glass search-icon hidden" id="searchIcon"></i>
                <div class="search-box">
                    <i class="uil uil-search search-icon"></i>
                    <input type="text" placeholder="Buscar producto..." />
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="form-compra">
            <div id="info-compra">
                <div class="info-compra">
                    <p>Ver detalles de mi compra</p>
                    <div class="dropdown">
                        <button type="button" class="dropdown-btn" onclick="mostrarCarrito()">
                            <i class="fa-solid fa-angle-down"></i>
                        </button>
                        <div class="dropdown-content"></div>
                    </div>
                </div>
                <div class="total-compra"></div>
            </div>
            <h1 class="titulo-form-compra">Confirmación de Compra</h1>
            <!-- Linea de pasos -->
            <ul class="compra-timeline">
                <li>
                    <button class="compra-timeline-item disabled">
                        <div class="compra-timeline-item-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <p class="compra-timeline-item-text">Carrito</p>
                    </button>
                </li>
                <li class="compra-timeline-line"></li>
                <li>
                    <button class="compra-timeline-item" id="select-envio">
                        <div class="compra-timeline-item-icon">
                            <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <p class="compra-timeline-item-text">Entrega</p>
                    </button>
                </li>
                <li class="compra-timeline-line"></li>
                <li>
                    <button class="compra-timeline-item" id="select-pago">
                        <div class="compra-timeline-item-icon">
                            <i class="fa-regular fa-credit-card"></i>
                        </div>
                        <p class="compra-timeline-item-text">Pago</p>
                    </button>
                </li>
            </ul>
            <!-- Captura de datos -->
            <!-- Datos de contacto, envio y facturación -->
            <form id="form">
                <div id="datos-de-compra">
                    <!-- Correo de contacto -->
                    <div class="step">
                        <h2>Datos de contacto</h2>
                        <div class="step-content">
                            <input type="text" name="to_email" id="to_email" class="input-datos-personales"
                                placeholder="Correo electrónico">
                        </div>
                    </div>
                    <input type="button" id="validar-btn" class="btn-form" value="Continuar" id="btn-continuar" />
                </div>
                <!-- Datos de Entrega -->
                <div class="hidden" id="destino">
                    <div class="step">
                        <h2>Datos de Entrega</h2>
                        <div class="step-content">
                            <!-- Método de entrega -->
                            <select name="to_entrega" id="to_entrega" class="select-entrega" onchange="entregaElegida();">
                                <option value="default" selected>Seleccione método de entrega</option>
                                <option value="envio">Envío a domicilio</option>
                                <option value="retiro">Retiro - Morón, Bs As.</option>
                                <option value="encuentro">Encuentro - Est. Morón</option>
                            </select>
                            <!-- Datos personales de quien Recibe -->
                            <input type="text" name="to_name" id="to_name" class="input-datos-personales"
                                placeholder="Nombre">
                            <input type="text" name="to_lastname" id="to_lastname" class="input-datos-personales"
                                placeholder="Apellido">
                            <input type="text" name="to_telefono" id="to_telefono" class="input-datos-personales"
                                placeholder="Telefono">
                            <input type="text" name="to_dni" id="to_dni" class="input-datos-personales" placeholder="DNI">
                            <!-- Muestra el método de entrega seleccionado -->
                            <div class="input-datos-personales hidden" id="envio-seleccionado"></div>
                            <!-- Form de datos de envio -->
                            <div class="datos-envio hidden" id="datos-despacho">
                                <input type="text" name="to_calle" id="to_calle" class="input-datos-personales"
                                    placeholder="Calle">
                                <input type="text" name="to_numero" id="to_numero" class="input-datos-personales"
                                    placeholder="Número">
                                <input type="text" name="to_dpto" id="to_dpto" class="input-datos-personales"
                                    placeholder="Piso o Departamento">
                                <input type="text" name="to_localidad" id="to_localidad" class="input-datos-personales"
                                    placeholder="Localidad">
                                <input type="text" name="to_provincia" id="to_provincia" class="input-datos-personales"
                                    placeholder="Provincia">
                                <div class="input">
                                    <input type="text" name="to_codigo_postal" id="to_codigo_postal"
                                        class="input-datos-personales" placeholder="Código Postal">
                                    <span class="link-cp">
                                        <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">Encontrá tu CP</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" id="validar-datos" class="btn-datos" value="Continuar con el Pago" />
                </div>
                <!-- Datos de pago -->
                <div class="hidden" id="datos-de-pago">
                    <div class="cod-descuento">
                        <i class="fa-solid fa-ticket"></i>
                        <input type="button" id="descuento" value="Agregar cupón de Descuento" />
                        <div class="step-content input hidden" id="dto-label">
                            <input name="descuento" id="input-dto" class="dto-label" type="text"
                                placeholder="Ingrese su código" />
                            <input type="button" id="validar-dto" value="Validar" class="validar-btn" />
                        </div>
                    </div>
                    <!-- Correo del cliente -->
                    <div class="step">
                        <div class="step-content correo">
                            <i class="fa-solid fa-envelope"></i>
                            <span id="correo-compra"></span>
                        </div>
                    </div>
                    <!-- Nombre completo, DNI y telefono del cliente -->
                    <div class="step-user">
                        <div class="step-content user">
                            <i class="fa-solid fa-user"></i>
                            <div class="step-content user-datos" id="user-datos"></div>
                        </div>
                    </div>
                    <!-- Datos del envio -->
                    <div class="step-envio">
                        <div class="step-content user">
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="step-content user-datos" id="datos-de-envio"></div>
                        </div>
                    </div>
                    <!-- Notas de pedido -->
                    <div class="step-envio">
                        <div class="step-content notas">
                            <i class="fa-solid fa-comments"></i>
                            <div class="step-content nota" id="notas">
                                <div>
                                    <span>Notas de pedido</span>
                                    <div id="nota" class="hidden">
                                        <textarea id="to_nota" name="to_nota"></textarea>
                                    </div>
                                </div>
                                <div id="btn-nota-add" class="link-datos">Agregar</div>
                                <div id="btn-nota-remove" class="link-datos hidden">Quitar</div>
                            </div>
                        </div>
                    </div>
                    <!-- Métodos de pago -->
                    <div class="step">
                        <div class="step-content" id="step-pago">
                            <h4>Medios de Pago</h4>
                            <ul id="metodos">
                                <li id="btn-efectivo">
                                    <div>
                                        <i class="fa-regular fa-money-bill-1"></i> Efectivo
                                    </div>
                                    <i class="fa-solid fa-angle-right icon-pago"></i>
                                </li>
                                <li id="btn-transferencia">
                                    <div>
                                        <i class="fa-solid fa-credit-card"></i> Tranferencia Bancaria
                                    </div>
                                    <i class="fa-solid fa-angle-right icon-pago"></i>
                                </li>
                                <li id="btn-mp">
                                    <div>
                                        <img src="../static/img/mp.png" alt="Logo Mercado Pago"> MercadoPago
                                    </div>
                                    <i class="fa-solid fa-angle-right icon-pago"></i>
                                </li>
                            </ul>
                            <div class="descripcion">
                                <div class="step-pago hidden" id="label-efectivo">
                                    <span id="lbl-efectivo-back" class="return">
                                        <i class="fa-solid fa-chevron-left"></i> Efectivo
                                    </span>
                                    <p class="importante">10% de DESCUENTO en tu compra</p>
                                    <p>Sólo para Retiro y Encuentro.</p>
                                </div>
                                <div class="step-pago hidden" id="label-transferencia">
                                    <span id="lbl-transferencia-back" class="return">
                                        <i class="fa-solid fa-chevron-left"></i> Tranferencia Bancaria
                                    </span>
                                    <p class="importante">10% de DESCUENTO en tu compra</p>
                                    <p>Cuando termines la compra, vas a ver la información de pago.</p>
                                    <p>Recordá que deberás enviar el comprobante de pago vía WhatsApp.</p>
                                    <p>El pedido no será preparado hasta que impacte el pago.</p>
                                </div>
                                <div class="step-pago hidden" id="label-mp">
                                    <span id="lbl-mp-back" class="return">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        <img src="../static/img/mercado-pago-logo.png" alt="Logo Mercado Pago">
                                    </span>
                                    <div class="lbl-mp">
                                        <p><span class="importante">Pága iniciando sesión</span> con tu cuenta de
                                            Mercado Pago</p>
                                        <p class="label">Ventajas para vos</p>
                                        <div class="info-mp">
                                            <div class="info-mp-title">
                                                <img src="../static/img/billetera-mp.jpg"
                                                    alt="Icono billetera de Mercado Pago">
                                                <p class="importante">Pagá más rápido</p>
                                            </div>
                                            <p class="info-mp-text">Con dinero disponible o tus tarjetas guardadas.</p>
                                        </div>
                                        <div class="info-mp">
                                            <div class="info-mp-title">
                                                <img src="../static/img/mano-mp.jpg"
                                                    alt="Icono billetera de Mercado Pago">
                                                <p class="importante">Accedé a cuotas</p>
                                            </div>
                                            <p class="info-mp-text">Financiá tus compras con o sin tarjeta de crádito.
                                            </p>
                                        </div>
                                    </div>
                                    <p>Cuando termines la compra, vas a ver la información de pago.</p>
                                    <p>Recordá que deberás enviar el comprobante de pago vía WhatsApp.</p>
                                    <p>El pedido no será preparado hasta que impacte el pago.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="confirmar-compra" class="btn-confirm">Confirmar Compra</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="container">
            <img src="../static/img/aurora-completo-blanco.png" alt="Aurora - Tienda de Aromas">
            <div class="footer-links">
                <a href="">¿Dónde estamos?</a>
                <a href="https://www.instagram.com/aurora.tiendadearomas?" class="ig-link" target="_blank"><i
                        class="fa-brands fa-instagram"></i> Aurora Aromas</a>
                <a href="">Contactanos</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        emailjs.init('8F7N1fFq6I9eLONNP')
    </script>
    <script src="../static/js/comprar.js"></script>
</body>

</html>