<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tienda Online de Aurora Aromas, pagina de reventa de productos Saphirus">
    <meta name="keywords" content="tienda, aromas, saphirus, home-spray, difusor">
    <meta name="author" content="Agustina Mailen Velazquez">
    <title>Confirmar Compra | Aurora - Tienda de Aromas</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/comprar.css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="nav">
            <i class="fa-solid fa-bars navOpenBtn"></i>
            <a href="../index.html" class="logo">
                <img src="../static/img/aurora-logo-negro.png" alt="Aurora letra original">
            </a>
            <ul class="nav-links">
                <i class="fa-solid fa-xmark navCloseBtn"></i>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="./contact.html">Contactanos</a></li>
                <li><a href="./address.html">Dónde Encontrarnos</a></li>
                <li><a href="">Ingresar</a></li>
            </ul>
            <div>
                <!-- Lupita -->
                <i class="fa-solid fa-magnifying-glass search-icon hidden" id="searchIcon"></i>
                <div class="search-box">
                    <i class="uil uil-search search-icon"></i>
                    <input type="text" placeholder="Buscar producto..." />
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="form-compra">
            <div id="info-compra">
                <div class="info-compra">
                    <p>Ver detalles de mi compra</p>
                    <div class="dropdown">
                        <button type="button" class="dropdown-btn" onclick="mostrarCarrito()">
                            <i class="fa-solid fa-angle-down"></i>
                        </button>
                        <div class="dropdown-content"></div>
                    </div>
                </div>
                <div class="total-compra"></div>
            </div>
            <h1 class="titulo-form-compra">Confirmación de Compra</h1>

            <form>
                <ul class="compra-timeline">
                    <li>
                        <button class="compra-timeline-item disabled" aria-disabled="true" tabindex="-1">
                            <div class="compra-timeline-item-icon">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p class="compra-timeline-item-text">Carrito</p>
                        </button>
                    </li>
                    <li class="compra-timeline-line"></li>
                    <li>
                        <button class="compra-timeline-item active">
                            <div class="compra-timeline-item-icon">
                                <i class="fa-solid fa-truck-fast"></i>
                            </div>
                            <p class="compra-timeline-item-text">Entrega</p>
                        </button>
                    </li>
                    <li class="compra-timeline-line"></li>
                    <li>
                        <button class="compra-timeline-item disabled" aria-disabled="true" tabindex="-1">
                            <div class="compra-timeline-item-icon">
                                <i class="fa-regular fa-credit-card"></i>
                            </div>
                            <p class="compra-timeline-item-text">Pago</p>
                        </button>
                    </li>
                </ul>
                <div class="step">
                    <h2>Datos de contacto</h2>
                    <div class="step-content">
                        <input type="email" name="email" class="input-datos-personales" placeholder="Correo electrónico"
                            required />
                    </div>
                </div>
                <div class="step">
                    <h2>Entrega</h2>
                    <div class="step-content input">
                        <input class="input-datos-personales" id="CP" type="number" placeholder="Código postal"
                            required />
                        <span class="link-cp">
                            <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">Encontrá tu
                                CP</a>
                        </span>
                        <button class="btn-form">Continuar</button>
                    </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="container">
            <img src="../static/img/aurora-completo-blanco.png" alt="Aurora - Tienda de Aromas">
            <div class="footer-links">
                <a href="">¿Dónde estamos?</a>
                <a href="https://www.instagram.com/aurora.tiendadearomas?" class="ig-link" target="_blank"><i
                        class="fa-brands fa-instagram"></i> Aurora Aromas</a>
                <a href="">Contactanos</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/compras.js" defer></script>
</body>

</html>