<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tienda Online de Aurora Aromas, pagina de reventa de productos Saphirus">
    <meta name="keywords" content="tienda, aromas, saphirus, home-spray, difusor">
    <meta name="author" content="Agustina Mailen Velazquez">
    <title>Confirmar Compra | Aurora - Tienda de Aromas</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/comprar.css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body id="body">
    <!-- Navbar -->
    <header>
        <nav class="nav">
            <i class="fa-solid fa-bars navOpenBtn"></i>
            <a href="../index.html" class="logo">
                <img src="../static/img/aurora-logo-negro.png" alt="Aurora letra original">
            </a>
            <ul class="nav-links">
                <i class="fa-solid fa-xmark navCloseBtn"></i>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="./contact.html">Contactanos</a></li>
                <li><a href="./address.html">Dónde Encontrarnos</a></li>
                <li><a href="">Ingresar</a></li>
            </ul>
            <div>
                <!-- Lupita -->
                <i class="fa-solid fa-magnifying-glass search-icon hidden" id="searchIcon"></i>
                <div class="search-box">
                    <i class="uil uil-search search-icon"></i>
                    <input type="text" placeholder="Buscar producto..." />
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="form-compra">
            <div id="info-compra">
                <div class="info-compra">
                    <p>Ver detalles de mi compra</p>
                    <div class="dropdown">
                        <button type="button" class="dropdown-btn" onclick="mostrarCarrito()">
                            <i class="fa-solid fa-angle-down"></i>
                        </button>
                        <div class="dropdown-content"></div>
                    </div>
                </div>
                <div class="total-compra"></div>
            </div>
            <h1 class="titulo-form-compra">Confirmación de Compra</h1>

            <form>
                <!-- Linea de pasos -->
                <ul class="compra-timeline">
                    <li>
                        <button class="compra-timeline-item disabled">
                            <div class="compra-timeline-item-icon">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <p class="compra-timeline-item-text">Carrito</p>
                        </button>
                    </li>
                    <li class="compra-timeline-line"></li>
                    <li>
                        <button class="compra-timeline-item" id="select-envio">
                            <div class="compra-timeline-item-icon">
                                <i class="fa-solid fa-truck-fast"></i>
                            </div>
                            <p class="compra-timeline-item-text">Entrega</p>
                        </button>
                    </li>
                    <li class="compra-timeline-line"></li>
                    <li>
                        <button class="compra-timeline-item" id="select-pago">
                            <div class="compra-timeline-item-icon">
                                <i class="fa-regular fa-credit-card"></i>
                            </div>
                            <p class="compra-timeline-item-text">Pago</p>
                        </button>
                    </li>
                </ul>
                <!-- Captura de datos -->
                <!-- Datos de contacto, envio y facturación -->
                <div id="datos-de-compra">
                    <!-- Correo de contacto -->
                    <div class="step">
                        <h2>Datos de contacto</h2>
                        <div class="step-content">
                            <input type="email" id="email-comprador" name="email" class="input-datos-personales"
                                placeholder="Correo electrónico" />
                        </div>
                    </div>
                    <!-- Codigo Postal de Entrega -->
                    <div class="step">
                        <h2>Entrega</h2>
                        <div class="step-content input">
                            <input class="input-datos-personales" id="CP" type="number" placeholder="Código postal" />
                            <span class="link-cp">
                                <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">Encontrá tu
                                    CP</a>
                            </span>
                            <input type="button" id="validar-btn" class="btn-form" value="Continuar"
                                id="btn-continuar" />
                        </div>
                    </div>
                    <!-- Datos de Entrega -->
                    <div class="step hidden" id="destino">
                        <h2>Datos de Entrega</h2>
                        <div class="step-content">
                            <!-- Método de entrega -->
                            <select name="envio" id="envio" class="select-entrega" onchange="entregaElegida();">
                                <option value="default" selected>Seleccione método de entrega</option>
                                <option value="envio">Envío a domicilio</option>
                                <option value="retiro">Retiro - Morón, Bs As.</option>
                                <option value="encuentro">Encuentro - Est. Morón</option>
                            </select>
                            <!-- Datos personales de quien Recibe -->
                            <input type="text" id="name-user" name="nombre" class="input-datos-personales"
                                placeholder="Nombre" />
                            <input type="text" id="lastname-user" name="apellido" class="input-datos-personales"
                                placeholder="Apellido" />
                            <input type="text" id="tel-user" name="contacto" class="input-datos-personales"
                                placeholder="Ej. 1125361425" />
                            <!-- Muestra el CP indicado -->
                            <div class="input-datos-personales hidden" id="input-cp"></div>
                            <!-- Muestra el método de entrega seleccionado -->
                            <div class="input-datos-personales hidden" id="envio-seleccionado"></div>
                            <!-- Form de datos de envio -->
                            <div class="datos-envio hidden" id="datos-despacho"></div>
                        </div>
                    </div>
                    <!-- Datos de pago, en caso de que no abone quien reciba -->
                    <div class="step facturacion hidden" id="facturacion">
                        <h2>Datos de Facturacion</h2>
                        <!-- DNI o CUIL de quien recibe y abona -->
                        <div class="step-content">
                            <input type="text" id="dniCuil" name="dni-cuil" class="input-datos-personales"
                                placeholder="DNI o CUIL" />
                            <div class="datos-facturacion">
                                <input type="checkbox" name="checkbox" id="datos-facturacion" checked>
                                <label for="checkbox">Mis datos de facturación y entrega son<br>los mismos</label>
                            </div>
                        </div>
                        <!-- Datos de quien abona, en caso de no ser quien reciba -->
                        <div class="step-content hidden datos-abono">
                            <h5>Persona que pagará el pedido</h5>
                            <input type="text" name="nombre-abono" class="input-datos-personales"
                                placeholder="Nombre" />
                            <input type="text" name="apellido-abono" class="input-datos-personales"
                                placeholder="Apellido" />
                            <input type="text" name="telefono-abono" class="input-datos-personales"
                                placeholder="Telefono" />
                            <input type="text" name="calle-abono" class="input-datos-personales" placeholder="Calle" />
                            <input type="text" name="num-calle-abono" class="input-datos-personales"
                                placeholder="Número" />
                            <input type="text" name="dpto-abono" class="input-datos-personales"
                                placeholder="Departamento (opcional)" />
                            <input type="text" name="barrio-abono" class="input-datos-personales"
                                placeholder="Barrio (opcional)" />
                            <div class="step-content input">
                                <input class="input-datos-personales" id="cp-abono" type="number"
                                    placeholder="Código postal" />
                                <span class="link-cp">
                                    <a href="https://www.correoargentino.com.ar/formularios/cpa"
                                        target="_blank">Encontrá tu
                                        CP</a>
                                </span>
                            </div>
                            <div class="provincias">
                                <label for="provincia">Provincia</label>
                                <select name="provincia" id="">
                                    <option value="caba">Ciudad Autónoma de Buenos Aires</option>
                                    <option value="bsas">Buenos Aires</option>
                                    <option value="catamarca">Catamarca</option>
                                    <option value="Chaco">Chaco</option>
                                    <option value="Chubut">Chubut</option>
                                    <option value="Córdoba">Córdoba</option>
                                    <option value="Corrientes">Corrientes</option>
                                    <option value="Entre Ríos">Entre Ríos</option>
                                    <option value="Formosa">Formosa</option>
                                    <option value="Jujuy">Jujuy</option>
                                    <option value="La Pampa">La Pampa</option>
                                    <option value="La Rioja">La Rioja</option>
                                    <option value="Mendoza">Mendoza</option>
                                    <option value="Misiones">Misiones</option>
                                    <option value="Neuquen">Neuquen</option>
                                    <option value="Río Negro">Río Negro</option>
                                    <option value="Salta">Salta</option>
                                    <option value="San Juan">San Juan</option>
                                    <option value="San Luís">San Luís</option>
                                    <option value="Santa Cruz">Santa Cruz</option>
                                    <option value="Santiago del Estero">Santiago del Estero</option>
                                    <option value="Tierra del Fuego">Tierra del Fuego</option>
                                    <option value="Tucumán">Tucumán</option>
                                </select>
                            </div>
                        </div>
                        <input type="button" id="validar-datos" class="btn-form" value="Continuar con el Pago" />
                    </div>
                </div>
                <!-- Datos de pago -->
                <div id="datos-de-pago" class="hidden">
                    <div class="cod-descuento">
                        <i class="fa-solid fa-ticket"></i>
                        <input type="button" id="descuento" value="Agregar cupón de Descuento" />
                        <div class="step-content input hidden" id="dto-label">
                            <input name="descuento" id="input-dto" class="dto-label" type="text"
                                placeholder="Ingrese su código" />
                            <input type="button" id="validar-dto" value="Validar" class="validar-btn" />
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-content correo">
                            <i class="fa-solid fa-envelope"></i>
                            <span id="correo-compra"></span>
                        </div>
                    </div>
                    <div class="step-user">
                        <div class="step-content user">
                            <i class="fa-solid fa-user"></i>
                            <div class="step-content user-datos" id="user-datos"></div>
                        </div>
                    </div>
                    <div class="step-envio">
                        <div class="step-content user">
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="step-content user-datos" id="datos-de-envio"></div>
                        </div>
                    </div>
                    <div class="step-envio">
                        <div class="step-content notas">
                            <i class="fa-solid fa-comments"></i>
                            <div class="step-content nota" id="notas">
                                <div>
                                    <span>Notas de pedido</span>
                                    <div id="nota" class="hidden">
                                        <textarea id="nota-pedido" name="nota-pedido"></textarea>
                                    </div>
                                </div>
                                <div id="btn-nota-add" class="link-datos">Agregar</div>
                                <div id="btn-nota-remove" class="link-datos hidden">Quitar</div>
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-content" id="step-pago">
                            <h4>Medios de Pago</h4>
                            <ul id="metodos">
                                <li>
                                    <div>
                                        <i class="fa-regular fa-money-bill-1"></i> Efectivo
                                    </div>
                                    <i class="fa-solid fa-angle-right icon-pago" id="btn-efectivo"></i>
                                </li>
                                <li>
                                    <div>
                                        <i class="fa-solid fa-credit-card"></i> Tranferencia Bancaria
                                    </div>
                                    <i class="fa-solid fa-angle-right icon-pago" id="btn-transferencia"></i>
                                </li>
                                <li>
                                    <div>
                                        <img src="../static/img/mp.png" alt="Logo Mercado Pago"> MercadoPago
                                    </div>
                                    <i class="fa-solid fa-angle-right icon-pago" id="btn-mp"></i>
                                </li>
                            </ul>
                            <div class="descripcion">
                                <div class="step-pago hidden" id="label-efectivo">
                                    <span id="lbl-efectivo-back">volver</span>
                                    Contenido del div Efectivo
                                </div>
                                <div class="step-pago hidden" id="label-transferencia">
                                    <span id="lbl-transferencia-back">volver</span>
                                    Contenido del div Tranferencia
                                </div>
                                <div class="step-pago hidden" id="label-mp">
                                    <span id="lbl-mp-back">volver</span>
                                    Contenido del div MercadoPago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="container">
            <img src="../static/img/aurora-completo-blanco.png" alt="Aurora - Tienda de Aromas">
            <div class="footer-links">
                <a href="">¿Dónde estamos?</a>
                <a href="https://www.instagram.com/aurora.tiendadearomas?" class="ig-link" target="_blank"><i
                        class="fa-brands fa-instagram"></i> Aurora Aromas</a>
                <a href="">Contactanos</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/comprar.js" defer></script>
</body>

</html>