<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tienda Online de Aurora Aromas, pagina de reventa de productos Saphirus">
    <meta name="keywords" content="tienda, aromas, saphirus, home-spray, difusor">
    <meta name="author" content="Agustina Mailen Velazquez">
    <title>Tienda | Aurora - Tienda de Aromas</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/tienda..css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="nav">
            <i class="fa-solid fa-bars navOpenBtn"></i>
            <a href="../index.html" class="logo">
                <img src="../static/img/aurora-logo-negro.png" alt="Aurora letra original">
            </a>
            <ul class="nav-links">
                <i class="fa-solid fa-xmark navCloseBtn"></i>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="./contact.html">Contactanos</a></li>
                <li><a href="./address.html">Dónde Encontrarnos</a></li>
                <li><a href="">Ingresar</a></li>
            </ul>
            <div>
                <!-- Lupita -->
                <i class="fa-solid fa-magnifying-glass search-icon" id="searchIcon"></i>
                <div class="search-box">
                    <i class="uil uil-search search-icon"></i>
                    <input type="text" placeholder="Buscar producto..." />
                </div>
                <!-- Carrito de Compras -->
                <div class="container-icon">
                    <!-- Carrito y contador de productos -->
                    <div class="container-cart-icon btn-carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="count-products">
                            <span id="contador-productos">0</span>
                        </div>
                    </div>
                    <!-- Carrito de compras -->
                    <div class="container-cart-products carrito hidden">
                        <i class="fa-solid fa-x icon-close"></i>
                        <div class="carrito-items" id="product-container"></div>

                        <div class="carrito-total hidden">
                            <div class="carrito-precio-total">
                                <h3>Total:</h3><span id="total-amount"></span>
                            </div>
                            <a href="./comprar.html" class="btn-continuar-compra">Continuar</a>
                            <button class="btn-vaciar-carrito">Vaciar Carrito</button>
                        </div>
                        <div class="cart-empty">
                            <img src="../static/img/compras.png" alt="Carirto Vacio">
                            <p>El carrito está vacío</p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="main-products">
            <div class="main-header">
                <div class="main-links">
                    <a href="../index.html">Inicio /</a><a href="#"> Tienda Online</a>
                </div>
                <!-- Filtros -->
                <button id="abrirFiltros" class="btn-filtros">Filtros <i class="fa-solid fa-bars"></i></button>
                <div id="filters" class="filtros">
                    <div class="filtros-content">
                        <span class="close-button" id="cerrarFiltros"><i class="fa-solid fa-x"></i> Cerrar</span>
                        <div class="">
                            <!-- Por Marca -->
                            <div class="products-filter">
                                <h4>Marca del producto</h4>
                                <input type="radio" id="saphirus" name="saphirus" value="saphirus">
                                <label for="saphirus">Saphirus</label><br>
                                <input type="radio" id="milano" name="milano" value="milano">
                                <label for="milano">Milano Cosmetic</label><br>
                                <input type="radio" id="ambar" name="ambar" value="ambar">
                                <label for="ambar">Amaber</label>
                            </div>
                            <!-- Por tipo de producto -->
                            <div class="products-filter">
                                <h4>Categoría del producto</h4>
                                <input type="checkbox" id="aceite-esenciales" name="aceite-esenciales"
                                    value="aceite-esenciales">
                                <label for="aceite-esenciales"> aceite esenciales</label><br>
                                <input type="checkbox" id="aerosol" name="aerosol" value="aerosol">
                                <label for="aerosol"> aerosoles</label><br>
                                <input type="checkbox" id="agua-micelar" name="agua-micelar" value="agua-micelar">
                                <label for="agua-micelar"> agua micelar</label><br>
                                <input type="checkbox" id="air-cool" name="air-cool" value="air-cool">
                                <label for="air-cool"> air cool</label><br>
                                <input type="checkbox" id="antihumedad" name="antihumedad" value="antihumedad">
                                <label for="antihumedad"> antihumedad</label><br>
                                <input type="checkbox" id="body-splash" name="body-splash" value="body-splash">
                                <label for="body-splash"> body-splash</label><br>
                                <input type="checkbox" id="caritas" name="caritas" value="caritas">
                                <label for="caritas"> caritas</label><br>
                                <input type="checkbox" id="difusor" name="difusor" value="difusor">
                                <label for="difusor"> difusores</label><br>
                                <input type="checkbox" id="difusor-premium" name="difusor-premium"
                                    value="difusor-premium">
                                <label for="difusor-premium"> difusores premium</label><br>
                                <input type="checkbox" id="equipo-aromatizador" name="equipo-aromatizador"
                                    value="equipo-aromatizador">
                                <label for="equipo-aromatizador"> equipos aromatizadores</label><br>
                                <input type="checkbox" id="home-spray" name="home-spray" value="home-spray">
                                <label for="home-spray"> home spray</label><br>
                                <input type="checkbox" id="hornillo-velas" name="hornillo-velas" value="hornillo-velas">
                                <label for="hornillo-velas"> hornillos y velas</label><br>
                                <input type="checkbox" id="jabon-liquido" name="jabon-liquido" value="jabon-liquido">
                                <label for="jabon-liquido"> jabon liquido</label><br>
                                <input type="checkbox" id="lata-aromatica" name="lata-aromatica" value="lata-aromatica">
                                <label for="lata-aromatica"> lata aromatica</label><br>
                                <input type="checkbox" id="mini" name="mini" value="mini">
                                <label for="mini"> mini</label><br>
                                <input type="checkbox" id="pack-premium" name="pack-premium" value="pack-premium">
                                <label for="pack-premium"> pack premium</label><br>
                                <input type="checkbox" id="perfume-mini" name="perfume-mini" value="perfume-mini">
                                <label for="perfume-mini"> perfumes mini</label><br>
                                <input type="checkbox" id="perfume-fino" name="perfume-fino" value="perfume-fino">
                                <label for="perfume-fino"> perfumes finos</label><br>
                                <input type="checkbox" id="route" name="route" value="route">
                                <label for="route"> route 66</label><br>
                                <input type="checkbox" id="sahumerios" name="sahumerios" value="sahumerios">
                                <label for="sahumerios"> sahumerios</label><br>
                                <input type="checkbox" id="Sensaciones" name="Sensaciones" value="Sensaciones">
                                <label for="Sensaciones"> Sensaciones</label><br>
                                <input type="checkbox" id="tarjeta-aromatica" name="tarjeta-aromatica"
                                    value="tarjeta-aromatica">
                                <label for="tarjeta-aromatica"> tarjetas aromaticas</label><br>
                                <input type="checkbox" id="textil" name="textil" value="textil">
                                <label for="textil"> textiles</label><br>
                                <input type="checkbox" id="all" name="all" value="all">
                                <label for="all"> Todos los Productos</label><br>
                            </div>
                            <!-- Por Precio -->
                            <div class="products-filter">
                                <label for="products">Precio:</label>
                                <select name="products" id="products-filters" class="products-filter-dropdown">
                                    <option value="min">de Menor a Mayor</option>
                                    <option value="max">de Mayor a Menor</option>
                                    <option value="all" selected>Cualquier Precio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <article class="list-products">
                <!-- Productos -->
                <div id="productos-container" class="contenedor-items"></div>
                <div id="pagination">
                    <div class="page-btn" id="prev-page"><</div>
                    <div id="pagination-numbers"></div>
                    <div class="page-btn" id="next-page">></div>
                </div>
                <section class="contenedor">
                    <!-- <div class="contenedor-items" id="contenedor-items"></div> -->
                </section>
            </article>
        </section>
        <a href="https://api.whatsapp.com/send?phone=5491175049581&text=¡Hola,%20me%20gustaría%20recibir
        %20más%20información!"><i class="fa-brands fa-whatsapp icon-wsp"></i></a>
        <div id="scrolltop">
            <a class="top-button" href="#top"><i class="fa-solid fa-chevron-up"></i></a>
        </div>
    </main>
    <footer>
        <div class="container">
            <img src="../static/img/aurora-completo-blanco.png" alt="Aurora - Tienda de Aromas">
            <div class="footer-links">
                <a href="">¿Dónde estamos?</a>
                <a href="https://www.instagram.com/aurora.tiendadearomas?" class="ig-link" target="_blank"><i
                        class="fa-brands fa-instagram"></i> Aurora Aromas</a>
                <a href="">Contactanos</a>
            </div>
        </div>
    </footer>
    <script src="../static/js/tienda.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>