<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tienda Online de Aurora Aromas, pagina de reventa de productos Saphirus">
    <meta name="keywords" content="tienda, aromas, saphirus, home-spray, difusor">
    <meta name="author" content="Agustina Mailen Velazquez">
    <title>Tienda | Aurora - Tienda de Aromas</title>
    <!-- zona de script FontAwesome -->
    <script src="https://kit.fontawesome.com/eae8fc4e25.js" crossorigin="anonymous"></script>
    <!-- zona del favicon -->
    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon">
    <!-- zona de estilos -->
    <link rel="stylesheet" href="../static/css/tienda.css">
    <!-- zona de fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="nav">
            <i class="fa-solid fa-bars navOpenBtn"></i>
            <a href="../index.html" class="logo">
                <img src="../static/img/aurora-logo-negro.png" alt="Aurora letra original">
            </a>
            <ul class="nav-links">
                <i class="fa-solid fa-xmark navCloseBtn"></i>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="./contact.html">Contactanos</a></li>
                <li><a href="./address.html">Dónde Encontrarnos</a></li>
                <li><a href="">Ingresar</a></li>
            </ul>
            <div>
                <!-- Lupita -->
                <i class="fa-solid fa-magnifying-glass search-icon" id="searchIcon"></i>
                <div class="search-box">
                    <i class="uil uil-search search-icon"></i>
                    <input type="text" placeholder="Buscar producto..." />
                </div>
                <!-- Carrito de Compras -->
                <div class="container-icon">
                    <!-- Carrito y contador de productos -->
                    <div id="abrirCarrito" class="container-cart-icon btn-carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="count-products">
                            <span id="contador-productos">0</span>
                        </div>
                    </div>
                    <!-- Carrito de compras -->
                    <div id="cart" class="cart carrito">
                        <span class="close-button" id="cerrarCarrito"><i class="fa-solid fa-x"></i> Carrito de
                            Compras</span>
                        <div class="carrito-items" id="product-container"></div>

                        <div class="carrito-total hidden">
                            <div class="carrito-precio-total">
                                <h3>Total:</h3><span id="total-amount"></span>
                            </div>
                            <a class="btn-continuar-compra" href="./comprar.html">Iniciar Compra</a>
                            <button class="btn-vaciar-carrito">Vaciar Carrito</button>
                        </div>
                        <div class="cart-empty">
                            <img src="../static/img/compras.png" alt="Carirto Vacio">
                            <p>El carrito está vacío</p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="main-products">
            <div class="main-header">
                <div class="main-links">
                    <a href="../index.html">Inicio /</a><a href="#"> Tienda</a>
                </div>
                <!-- Filtros -->
                <button id="abrirFiltros" class="btn-filtros">Filtros <i class="fa-solid fa-bars"></i></button>
                <div id="filters" class="filtros">
                    <div class="filtros-content">
                        <span class="close-button" id="cerrarFiltros"><i class="fa-solid fa-x"></i> Cerrar</span>
                        <div class="">
                            <div class="products-filter">
                                <div class="dropdown">
                                    <div class="saphirus">
                                        <a href="./tienda.html">
                                            <img loading="lazy" decoding="async"
                                                src="https://saphirus.com.ar/wp-content/uploads/2022/04/logo-saphirus-.png">
                                        </a>
                                        <button class="dropdown-btn-saphirus" onclick="saphirusDropdown()">
                                            <i class="fa-solid fa-angle-down angle-down"></i>
                                        </button>
                                    </div>
                                    <div class="dropdown-content-saphirus">
                                        <form>
                                            <input type="checkbox" name="aceite-esencial" id="aceite-esencial" value="aceite-esencial">
                                            <label for="aceite-esencial" class="label-filter">
                                                <img src="https://saphirus.com.ar/wp-content/uploads/2022/04/icon-aceite.svg" alt="Aceite Esencial"> Aceites Esenciales
                                            </label>
                                            <input type="checkbox" name="aerosol" id="aerosol" value="aerosol">
                                                <label for="aceite-esencial" class="label-filter">
                                                    <img src="https://saphirus.com.ar/wp-content/uploads/2022/04/icon-aerosol.svg" alt="Aerosol"> Aerosoles
                                                </label>
                                            </label>
                                            <input type="checkbox" name="air-cool" id="air-cool" value="air-cool">
                                                <label for="air-cool" class="label-filter">
                                                    <img src="https://saphirus.com.ar/wp-content/uploads/2022/04/icon-air-cool.svg" alt="Air Cool"> Air Cool
                                                </label>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <div class="ambar">
                                        <a href="./tienda.html">
                                            <img loading="lazy" decoding="async"
                                                src="https://saphirus.com.ar/wp-content/uploads/2022/04/logo-ambar-aromas.png">
                                        </a>
                                        <button class="dropdown-btn-ambar" onclick="amberDropdown()">
                                            <i class="fa-solid fa-angle-down angle-down"></i>
                                        </button>
                                    </div>
                                    <div class="dropdown-content-ambar">
                                        <p>Contenido del párrafo dentro del dropdown.</p>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <div class="milano">
                                        <a href="./tienda.html">
                                            <img loading="lazy" decoding="async"
                                                src="https://saphirus.com.ar/wp-content/uploads/2022/04/logo-milano-cosmetics.png">
                                        </a>
                                        <button class="dropdown-btn-milano" onclick="milanoDropdown()">
                                            <i class="fa-solid fa-angle-down angle-down"></i>
                                        </button>
                                    </div>
                                    <div class="dropdown-content-milano">
                                        <p>Contenido del párrafo dentro del dropdown.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Por Precio -->
                            <div class="products-filter">
                                <label for="products">Precio:</label>
                                <select name="products" id="products-filters" class="products-filter-dropdown">
                                    <option value="min">de Menor a Mayor</option>
                                    <option value="max">de Mayor a Menor</option>
                                    <option value="all" selected>Cualquier Precio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <article class="list-products">
                <!-- Productos -->
                <div id="productos-container" class="contenedor-items"></div>
                <div id="pagination">
                    <div class="page-btn" id="prev-page"><i class="fa-solid fa-angle-left"></i></div>
                    <div id="pagination-numbers"></div>
                    <div class="page-btn" id="next-page"><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </article>
        </section>
        <a href="https://api.whatsapp.com/send?phone=5491175049581&text=¡Hola,%20me%20gustaría%20recibir
        %20más%20información!"><i class="fa-brands fa-whatsapp icon-wsp"></i></a>
        <div id="scrolltop">
            <a class="top-button" href="#top"><i class="fa-solid fa-chevron-up"></i></a>
        </div>
    </main>
    <footer>
        <div class="container">
            <img src="../static/img/aurora-completo-blanco.png" alt="Aurora - Tienda de Aromas">
            <div class="footer-links">
                <a href="">¿Dónde estamos?</a>
                <a href="https://www.instagram.com/aurora.tiendadearomas?" class="ig-link" target="_blank"><i
                        class="fa-brands fa-instagram"></i> Aurora Aromas</a>
                <a href="">Contactanos</a>
            </div>
        </div>
    </footer>
    <script src="../static/js/tienda.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>